<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css" type="text/css">
    <link href="styles/profile.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-div">
                <a href="/"><img class="logo-img" src="../images/logo.png" alt=""></a>
            </div>
            <div class="bottom-nav">
                <div class="home-btn"><a href="/"><i class="fa-solid fa-house"></i><span>Home</span></a></div>
                <div class="favorites-btn"><a href="#"><i class="fa-solid fa-star"></i><span>Favourites</span></a></div>
                <div class="explore-btn"><a href="#"><i class="fa-solid fa-globe"></i><span>Feeds</span></a></div>
                <div class="notes-btn"><a href="/lists"><i class="fa-solid fa-note-sticky"></i><span>My Notes</span></a></div>
                <div class="profile-btn"><a href="/profile"><i class="fa-solid fa-user"></i><span>Profile</span></a></div>
            </div>
            <div class="search-setting">
                <div class="search-bar-div">
                    <form action="">
                        <input class="search-bar" type="text" placeholder="Search for notes">
                        <button type="submit" class="submit"><i class="fa-solid fa-search"></i></button>
                    </form>
                </div>
                <div class="settings">
                    <i class="settings-icon fa-solid fa-gear"></i>
                </div>
            </div>
        </nav>
    </header>