<%- include("partials/full-header.ejs") %>
    <main>
        <div class="home container">
            <div class="content">
                <div class="write-up">
                    <h1>
                        Take your notes anywhere and securely
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Excepturi explicabo 
                        blanditiis corporis iure facilis eos fuga 
                        amet nam at voluptates et sit omnis quis 
                        dolores delectus autem laborum quasi adipisci 
                        officia, aperiam quisquam perspiciatis, 
                        vitae vel maxime. Magni, laboriosam aperiam.
                    </p>
                </div>
                <% if(locals.userData){ %>
                    <div class="user">
                        <a href="/logout">Logout - <%= userData.name %></a>
                    </div>
                <% }else{ %>
                    <div class="links">
                        <a class="login" href="/login">Login</a>
                        <a class="signUp" href="/sign-up">Sign Up</a>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <footer>
        <p>
            Copyright: Mmaduabuchi Igwilo @2025
        </p>
    </footer>
</body>
<script src="dom-script.js"></script>
</html>