<%- include('partials/full-header.ejs') %>
    <% if(locals.userData){ %>
        <div class="profile">
            <div class="profile-dets">
                <!-- <div class="profile-img">
                    <img src="" alt="">
                </div> -->
                <div class="username">
                    <p><%= userData.name %></p>
                </div>
                <!-- <div class="follow">
                    <p><span>30</span> following</p>
                    <p> | </p>
                    <p><span>30</span> followers</p>
                </div> -->
                <div class="options">
                    <a href="/updateProfile">Profile Details</a>
                </div>
            </div>
            <div class="notelist">
                <div class="header">
                    <p>Notelist</p>
                </div>
                <div class="lists">
                    <div class="list my-notes">
                        <div class="content">
                            <h3>All notes</h3>
                            <p>See all notes here</p>
                        </div>
                        <div>
                            <form action="/lists" method="GET">
                                <button type="submit">See all notes</button>
                            </form>
                        </div>
                    </div>
                    <div class="list favorites">
                        <div class="content">
                            <h3>Favourite notes</h3>
                            <p>Favourite notes only</p>
                        </div>
                        <div>
                            <form action="/favourites" method="GET">
                                <button type="submit">Favorites</button>
                            </form>
                        </div>
                    </div>
                    <div class="list read-later">
                        <div class="content">
                            <h3>Uncompleted notes</h3>
                            <p>All uncompleted notes</p>
                        </div>
                        <div>
                            <form action="/uncompleted" method="GET">
                                <button type="submit">Open</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>    
    </main>
</body>
<script src="dom-script.js"></script>
</html>