<%- include('partials/full-header.ejs') %>
        <div class="profile">
            <div class="profile-dets">
                <div class="profile-img">
                    <img src="" alt="">
                </div>
                <div class="username">
                    <p>Elvis</p>
                </div>
                <!-- <div class="follow">
                    <p><span>30</span> following</p>
                    <p> | </p>
                    <p><span>30</span> followers</p>
                </div> -->
                <div class="options">
                    <div class="option update">
                        Update
                    </div>
                    <div class="option details">
                        Details
                    </div>
                </div>
            </div>
            <div class="notelist">
                <div class="header">
                    <p>Notelist</p>
                </div>
                <div class="lists">
                    <div class="list my-notes">
                        <div class="content">
                            <h3>All notes</h3>
                            <p>See all notes here</p>
                        </div>
                        <button>See all notes</button>
                    </div>
                    <div class="list favorites">
                        <div class="content">
                            <h3>Favourite notes</h3>
                            <p>Favourite notes only</p>
                        </div>
                        <button>Open</button>
                    </div>
                    <div class="list read-later">
                        <div class="content">
                            <h3>Uncompleted notes</h3>
                            <p>All uncompleted notes</p>
                        </div>
                        <button>Open</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="bottom-nav">
        <div class="home-btn"><i class="fa-solid fa-house"></i></div>
        <div class="favorites-btn"><i class="fa-solid fa-star"></i></div>
        <div class="explore-btn"><i class="fa-solid fa-globe"></i></div>
        <div class="notes-btn"><i class="fa-solid fa-note-sticky"></i></div>
        <div class="profile-btn"><i class="fa-solid fa-user"></i></div>
    </div>
</body>
<script src="dom-script.js"></script>
</html>