/* Color Scheme */
:root{
    --p-white: #F5F7F8;
    --gold: #F4CE14;
    --green: #495E57;
    --p-black: #45474B;
    --black-shadow: #949494;
    --black-search: #e7e5e5;
    --icon-size: 25px;
}

/* log in */
body{
    padding: 0;
    margin: 0;
    background-color: var(--p-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
}
.container.login{
    max-width: 600px;
    background-color: var(--black-search);
    padding: 40px 20px;
    border-radius: 20px;
    margin-top: -30px;
}
.container.login form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.container.login form input{
    padding: 10px;
    width: 400px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 15px;

}
.container.login form button{
    padding: 8px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: var(--gold);
    cursor: pointer;
    font-size: 20px;
}
.container.login form button:hover{
    padding: 6px;
    background-color: var(--black-search);
    border: 4px solid var(--gold);
}