/* Color Scheme */
:root{
    --p-white: #F5F7F8;
    --gold: #F4CE14;
    --green: #495E57;
    --p-black: #45474B;
    --black-shadow: #949494;
    --black-search: #e7e5e5;
    --icon-size: 25px;
}

button, input[type=submit]{
    cursor: pointer;
}
.profile{
    margin: 110px 0 0 ;
}
.profile .profile-dets{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.profile .profile-dets .profile-img{
    width: 100px;
    height: 100px;
    background-color: var(--green);
    border-radius: 50%;
    margin-top: 20px;
}
.profile .profile-dets .follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: -20px;
}
.profile .options{
    display: flex;
    gap: 15px;
}
.profile .options a{
    text-decoration: none;
    color: var(--p-white);
    background-color: var(--black-shadow);
    padding: 5px 25px;
    border-radius: 20px;
    border:2px solid var(--black-search);
}
.profile .notelist{
    margin-top: 40px;
}
.profile .notelist .header{
    padding: 0 25px;
}
.profile .notelist .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 10px 40px;
    transition: all ease 0.2s;
}
.profile .notelist .list:hover{
    background-color: var(--p-black);
    box-shadow: 0 0 10px var(--black-search);
}
.profile .notelist a{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--gold);
    transition: all ease 0.2s;
    text-decoration: none;
    color: var(--p-black);
    font-size: smaller;
}
.profile .notelist a:hover{
    background-color: var(--black-search);
}

/* User Details page */
.hidden{
    display: none;
}
.details-header{
    height: 50px;
    display: flex;
    align-items: center;
}
.details-header i{
    font-size: 30px;
    margin-left: 20px;
    color: var(--green);
}
.details ul{
    padding-inline-start: 0px;
}
.details li{
    margin-bottom: 10px;
    padding: 10px;
    list-style: none;
    border-bottom: 2px solid var(--black-search);
}
.details .editButton{
    background-color: var(--green);
    color: var(--p-white);
    padding: 5px 20px;
    border: none;
}
.detailsEdit form{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.detailsEdit form input{
    padding: 10px;
}
.detailsEdit form label{
    margin-top: 20px;
}
.detailsEdit form input[type=submit]{
    background-color: var(--gold);
    outline: none;
    border: none;
    margin-top: 20px;
}
.detailsEdit .cancelEdit{
    background-color: red;
    color: var(--p-white);
    padding: 5px 20px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}